:root {
  --navbar-color1: #06121d;
  --navbar-colorMid: #01203c;
  --hr-color: #1f0234;
  --main-color: #dfe8f0;
}

/* Universal selector */
* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Universal selector end */

html {
  scroll-behavior: smooth;
}

/* Navbar set here! */
#navbar {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 5px;
  background: linear-gradient(
    90deg,
    var(--navbar-color1),
    var(--navbar-colorMid),
    var(--navbar-color1)
  );
  opacity: 1;
  box-shadow: 2px 5px 7px #2a2a2a;
  z-index: 5;
}

.nav-list {
  display: flex;
  position: fixed;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  font-family: Source Code Pro, monospace;
}

.nav-li {
  display: flex;
  border-radius: 10%;
  margin: 0;
  padding: 0;
}

.nav-li:hover {
  background: orangered;
  box-shadow: 1px 1px 4px white;
}

.nav-li:active {
  background: #b40020;
}

.nav-li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  padding: 8px 18px;
}

/* Navbar set ends here! */

body {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

hr {
  height: 3px;
  background: var(--hr-color);
  box-shadow: 2px 4px 7px #2a2a2a;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
  width: 100%;
  height: 100vh;
}

#welcome-section h1 {
  position: relative;
  font-size: 36px;
  bottom: 20px;
}

#welcome-section p {
  font-size: 22px;
  font-family: "DM Serif Display", serif;
  font-style: italic;
}

#projects {
  display: flex;
  flex-direction: column;
  top: 90px;
  justify-content: center;
  text-align: center;
  padding: 40px 50px;
  font-family: "Teko", sans-serif;
}

#projects h2 {
  font-size: 28px;
}

h2::first-letter {
  color: #0e365e;
  font-style: bold;
  font-family: "Teko";
  font-size: 40px;
}

#about-project {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 25vh;
  font-family: "Teko", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

.mail-a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: orangered;
}

.mail-a:hover {
  color: blue;
}

#first-project {
  max-width: 200px;
  min-width: 200px;
  border-radius: 10%;
  margin: 5px;
  box-shadow: 2px 2px 4px 1px black;
}

#second-project {
  max-width: 200px;
  min-width: 200px;
  max-height: 180px;
  border-radius: 10%;
  margin: 5px;
  box-shadow: 2px 2px 4px 1px black;
}

#profile-link {
  text-decoration: none;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}

.projects-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 80px;
}

/* FOOTER ELEMENT */
#contact {
  position: relative;
  border-radius: 2%;
  top: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
  height: 8vh;
  background: linear-gradient(
    90deg,
    var(--navbar-color1),
    #01203c,
    var(--navbar-color1)
  );
  box-shadow: 3px 5px 7px #2a2a2a;
}

.footer-p {
  padding: 3px 10px;
  text-align: center;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  #welcome-section,
  .projects {
    word-wrap: break-word;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
  }
}

@media (max-width: 600px) {
  #contact {
    overflow: scroll;
    word-wrap: break-word;
    white-space: nowrap;
  }
}

/* FOOTER ELEMENT */

/*FONTS TO APPLY

font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Teko', sans-serif;

font-family: 'DM Serif Display', serif;

*/
